

.el-card__body{
    padding: 0px !important;
}

.el-card__header{
    padding: 5px !important;
}

.el-card-header-text{
    float: left; 
    line-height: 25px;
}
.el-tabs__content{
    padding: 6px 0px 6px 0px !important;
}
.el-tabs__header{
    height: 30px;
}
.el-tabs__item{
    height: 30px ;
    line-height: 30px ;
    padding: 0px 10px 0px 10px;
}
