
.el-dialog__body {
  padding-bottom: 1px !important;
  padding-top: 10px !important;
}

.el-dialog__footer{
  text-align: center !important;
}

.dialog-footer-u{
  margin: 10px;
  text-align: center;
}

.el-dialog__header{
    background: #97a8be !important;
    padding-top: 10px !important;
    padding-bottom: 6px !important;
}

.el-dialog-panel{
    overflow: auto;
    border: 1px solid #d1dbe5;
    border-radius: 4px;
}

