
.form-body-u{
  margin-top: 10px;
  margin-right: 1px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.el-form-item-u{
  //float:left !important;
  //display: inline;
}

.el-form-item {
    margin-bottom: 16px !important;
}

.el-form-item__error{
    padding-top: 1px !important;
}

.el-date-picker {
    width: 300px;
}

.el-time-spinner__item{
    line-height: 1.4;
}
    
